
nav {
  position: relative;
  background: #ffeb3b;
}

/*nav a {
  background: #fff;
  color: #333;
  padding: 5px;
  text-decoration: none;
}*/

nav a:hover {
  background: #eee;
}

nav:after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 5px;
  float: left;
}

nav li:last-child {
  float: right;
}

li.name {
  font-size: 26px;
  font-weight: lighter;
}

li {
  list-style: none;
}

.bio img {
  width: 150px;
  height: 150px;
}
