/* Blue: #00acc1 */
/*
  TODO:
  Remove all px's and make avatar img smaller
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}

.app {
  display: flex;
  flex-flow: row wrap;
}

.panel {
  background: rgba(192, 192, 192, 0.28);
  text-transform: uppercase;
  text-align: center;
  flex: 1 100%;
}

.panel h1 {
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

nav {
  background: #ffeb3b;
  flex: 0 0 100%;
}

nav svg:hover {
  fill: #00acc1;
}

nav ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

nav li {
  /*border: 1px solid red;*/
}

nav li:last-child {
  margin-left: auto;
}

li.name {
  font-size: 26px;
  font-weight: lighter;
}

li {
  list-style: none;
}

.myInformation {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
}

.avatar {
  height: auto;
}

.bio {
  position: relative;
  vertical-align: top;
}

.fulhamCrest {
  position: relative;
  left: .5rem;
  width: 1rem;
  vertical-align: bottom;
}

.tools {
  position: relative;
  vertical-align: top;
}

footer {
  position: relative;
  bottom: 0;
  min-height: 10rem;
  flex: 1 100%;
}

/*
  Media Queries
*/

@media screen and (max-width: 40em) {
  .myInformation {
    flex-flow: column wrap;
  }
  .avatar {
    width: 100%;
    height: auto;
  }
}
